<!-- {% extends "./base_template.html" %}

{% block content %} -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static%}
<link rel="stylesheet" href="{% static 'stable_diffusion/styles/home.css' %}">

<body>
    <div class="flexbox-column main-container">
        <h1>Simple Stable Diffusion</h1>

        <div class="main_content_container">
            <div class="main-form-container">
                <h2>Generate Image</h2>
                <form action="{% url 'generate' %}">
                    <div class="flexbox-column">
                        <label for="prompt">API Key:</label>
                        <p>(can be found on my resume)</p>
                        <input type="text" name="key" class="form-field" required>
                        <label for="prompt">Style:</label>
                        <p>The artistic style of the image you would like to generate.</p>
                        <textarea rows="4" cols="50" name="style" id="style_prompt" class="text_input form-field"></textarea>
                        <label for="prompt">Subject:</label>
                        <p>Description of a person, character, monument, landmark, etc. you would like to be the main subject of your image.</p>
                        <textarea rows="4" cols="50" name="subject" id="subject_prompt" class="text_input form-field"></textarea>
                        <label for="negative_prompt">Negative Prompt:</label>
                        <p>Anything you would prefer Stable Diffusion not to include in the final image.</p>
                        <textarea rows="4" cols="50" name="negative_prompt" id="negative_prompt" class="text_input form-field"></textarea>
                        <br>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            
            <div class="flexbox-column">
                <h2>Examples</h2>
                <div class="examples">
                    {% for example in examples %}
                        <div class="image-container">
                            <img class="ex_image" src="{% static example.image_path %}" alt="example_img">
                            <div class="hide prompt-buttons flexbox">
                                <a class="btn btn-info" href="#" onClick="autoFillStyle(event, '{{ example.style_prompt }}', 'style');">
                                    Apply this Style
                                </a>
                                <a class="btn btn-info" href="#" onClick="autoFillStyle(event, '{{ example.character_prompt }}', 'character');">
                                    Apply this Subject
                                </a>
                                <a class="btn btn-info" href="#" onClick="autoFillStyle(event, '{{ example.negative_prompt }}', 'negative');">
                                    Apply this Negative Prompt
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 
</body>

<script>
    function autoFillStyle(e, prompt, type) {
        // console.log(prompt);
        e.preventDefault();
        if (type == 'style') {
            document.getElementById('style_prompt').value = prompt;
        } else if (type == 'character') {
            document.getElementById('subject_prompt').value = prompt;
        } else {
            document.getElementById('negative_prompt').value = prompt;
        }
    }
</script>
<!-- {% endblock %} -->
